<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>投稿内容</th>
    </tr>
  </thead>
  <tbody id="chat_history">
        <%= render partial: 'chats/history', locals: {chats: @chats} %>
  </tbody>
</table>

<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.submit %>
  <%= f.hidden_field :room_id %>
<% end %>