<div class="message">
  <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>
<!--create.jsより、入力したら<p>の後ろにappendでメッセージを追加させるという動きをする-->
<!--クラス.messageをターゲットにしているのでフォームを外に出してやればフォームより下に追加されることはない-->
  <%= form_with model: @chat do |f| %>
    <%= f.text_field :message %>
    <%= f.submit "投稿"%>
    <%= f.hidden_field :room_id %>
  <% end %>
  <!--ボタンがあるほうがわかりやすいので追加-->